<?xml version="1.0" encoding="UTF-8"?>

<configdata>
    <module>
        <name>Defaults</name>
        <version>8</version>
        <resources>
            <index>
                <search>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>1</user>
                    <guest>1</guest>
                    <active>1</active>
                </search>
                <main-menu>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>1</user>
                    <guest>1</guest>
                    <active>0</active>
                </main-menu>
                <feedback-success>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>1</user>
                    <guest>1</guest>
                    <active>1</active>
                </feedback-success>
            </index>
            <error>
                <error>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>1</user>
                    <guest>1</guest>
                    <active>1</active>
                </error>
            </error>
        </resources>
    </module>
</configdata>      