<section class="banner-with-button">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                <h4>
                    Затрудняетесь <span>с выбором?</span>
                </h4>
                <p>
                    Администратор подберет<br />
                    для вас лучший номер
                </p>
                <div class="banner-with-button-btn btn">
                    бронирование
                </div>
            </div>
        </div>
    </div>
</section>