<!-- Modal -->
<div class="modal fade" id="bookingModal" tabindex="-1" role="dialog" aria-labelledby="bookingModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="bookingModalLabel">Забронировать номер</h4>
            </div>
            <div class="modal-body">
                <form method="post" id="booking-form">
                    <div class="booking-form-item">
                        <input type="text" name="fio" value="" id="booking-fio" placeholder="ФИО" required />
                        <span class="booking-form-error" id="booking-fio-error"></span>
                    </div>
                    <div class="booking-form-item">
                        <input type="text" name="phone" value="" id="booking-phone" placeholder="8(999)999-99-99" required />
                        <span class="booking-form-error" id="booking-phone-error"></span>
                    </div>
                    <input type="hidden" name="roomId" value="" id="booking-room" />
                    <div class="booking-form-item">
                        <button type="submit" class="btn booking-form-btn">Забронировать</button>
                    </div>
                    <div id="booking-common-error" class="booking-form-error">

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
