<section class="external-booking">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Бронирование</h1>
                <div class="header_decorator">
                    <img src="img/header_decorator.png" class="img-responsive" />
                </div>
            </div>
            <div class="col-lg-12">
                это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн
            </div>
        </div>
    </div>
</section>