<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 hidden-sm hidden-xs col-sm-3">
                <a href="index.html" class="footer_logo">
                    <img src="img/logo.png" class="img-responsive" alt="" />
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 col-xs-6 col-sm-2">
                <h4>Контакты</h4>
                <ul class="footer_icon_list">
                    <li>
                        <span class="address"></span>Томск (Россия)
                    </li>
                    <li>
                        <span class="phone"></span>
                        <span class="hidden-sm hidden-xs"> 8(913)855-98-5</span>
                        <a href="tel:8(913)855-98-5" class="hidden-lg hidden-md">8(913)855-98-5</a>
                    </li>
                    <li>
                        <span class="email"></span>
                        <a href="mailto:hi@itrocks.ru">hi@itrocks.ru</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-xs-6 col-sm-4">
                <h4>Меню</h4>
                <ul class="footer_menu_list">
                    <li>
                        <a href="#">Номера</a>
                    </li>
                    <li>
                        <a href="#">О нас</a>
                    </li>
                    <li>
                        <a href="#">Бронирование</a>
                    </li>
                    <li>
                        <a href="#">Услуги</a>
                    </li>
                    <li>
                        <a href="#">Контакты</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-xs-12 col-sm-3 col-xs-12">
                <h4>Соц. сети</h4>
                //= social-buttons.html
            </div>
        </div>
    </div>
</section>
<section class="developed-by">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <span class="heart">&hearts;</span> Сайт разработан веб-студией <a href="http://itrocks.ru" target="_blank">ItRocks</a> 2018г.
            </div>
        </div>
    </div>
</section>