<section class="full-width-top-menu">
    <nav class="navbar navbar-default navbar-full-width">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#full-width-top-menu" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <form method="get" action="" class="top-menu-search-form hidden-lg hidden-md hidden-sm">
                    <div class="search">
                        <input type="text" name="search" placeholder="поиск" />
                    </div>
                </form>
            </div>

            <div class="collapse navbar-collapse" id="full-width-top-menu">
                <ul class="nav navbar-nav ">
                    <li class="active">
                        <a href="rooms.html">CUMMINS</a>
                    </li>
                    <li>
                        <a href="services.html">
                            FOTON
                        </a>
                    </li>
                    <li>
                        <a href="contacts.html">Гидравлика</a>
                    </li>
                    <li>
                        <a href="about.html">
                            Аккумуляторы
                        </a>
                    </li>
                    <li>
                        <a href="booking.html">
                            Масла
                        </a>
                    </li>
                    <li>
                        <a href="booking.html">
                            Аксессуары
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</section>