<section class="header-line-with-search">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-2 hidden-xs">
                <div class="logo">
                    <img src="img/logo.png" class="img-responsive" />
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 col-xs-6 address-block ">
                <div class="icon">
                    <img src="img/map_marker.png" class="img-responsive" />
                </div>
                <div class="address">
                    <div>Томск, Томская обл</div>
                    <div>Пн-Пт 9:00-19</div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 col-xs-6 address-block">
                <div class="icon">
                    <img src="img/phone.png" class="img-responsive" />
                </div>
                <div class="address">
                    <div>
                        <span class="hidden-lg hidden-md">
                            <a href="tel: 8 (913)855-98-55">8 (913)855-98-55</a>
                        </span>
                        <span class="hidden-xs hidden-sm">
                            8 (913)855-98-55
                        </span>
                    </div>
                    <div>
                        <span class="hidden-lg hidden-md">
                            <a href="tel: 8 (913)855-98-55">8 (913)855-98-55</a>
                        </span>
                        <span class="hidden-xs hidden-sm">
                            8 (913)855-98-55
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 hidden-xs">
                <form method="get" action="">
                    <div class="search">
                        <input type="text" name="search" placeholder="поиск" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>