<section class="our-advantages">
    <div class="container">
        <div class="row">
            <h1>Наши преимущества</h1>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="item">
                    <div class="img">
                        <img src="img/our-advantages/1.png" alt="" class="img-responsive animated fadeInLeftBig" />
                    </div>
                    <div class="title">
                        Только оригинальные<br />
                        товары
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="item">
                    <div class="img">
                        <img src="img/our-advantages/2.png" alt="" class="img-responsive animated fadeInLeftBig" />
                    </div>
                    <div class="title">
                        Профессионализм<br />
                        сотрудников
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="item">
                    <div class="img">
                        <img src="img/our-advantages/3.png" alt="" class="img-responsive animated fadeInRightBig" />
                    </div>
                    <div class="title">
                        Работаем напрямую<br />
                        с производителем
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="item">
                    <div class="img">
                        <img src="img/our-advantages/4.png" alt="" class="img-responsive animated fadeInRightBig" />
                    </div>
                    <div class="title">
                        Гарантия и возврат
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>