<section class="our-service-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Наш сервис</h1>
            </div>
        </div>
    </div>
</section>
<section class="our-service-items">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-sm-3 col-xs-6">
                <div class="our-service-item">
                    <div class="icon">
                        <img src="img/our-service-icons/parking.png" class="img-responsive" />
                    </div>
                    <div class="title">
                        Парковка
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-lg-offset-1 col-sm-3 col-xs-6">
                <div class="our-service-item">
                    <div class="icon">
                        <img src="img/our-service-icons/transfer.png" class="img-responsive" />
                    </div>
                    <div class="title">
                        Трансфер
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-lg-offset-1 col-sm-3 col-xs-6">
                <div class="our-service-item">
                    <div class="icon">
                        <img src="img/our-service-icons/food.png" class="img-responsive" />
                    </div>
                    <div class="title">
                        Питание
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-lg-offset-1 col-sm-3 col-xs-6">
                <div class="our-service-item">
                    <div class="icon">
                        <img src="img/our-service-icons/restauraunt_transfer.png" class="img-responsive" />
                    </div>
                    <div class="title">
                        доставка
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-lg-offset-1 col-sm-4 col-xs-6">
                <div class="our-service-item">
                    <div class="icon">
                        <img src="img/our-service-icons/wifi.png" class="img-responsive" />
                    </div>
                    <div class="title">
                        Wi-Fi
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-6">
                <div class="our-service-item">
                    <div class="icon">
                        <img src="img/our-service-icons/card.png" class="img-responsive" />
                    </div>
                    <div class="title">
                        Расчет картой
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-6">
                <div class="our-service-item">
                    <div class="icon">
                        <img src="img/our-service-icons/sauna.png" class="img-responsive" />
                    </div>
                    <div class="title">
                        Сауна
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>