<section class="reviews-slider">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Отзывы</h1>
                <div class="header_decorator">
                    <img src="img/header_decorator.png" class="img-responsive" />
                </div>
            </div>
        </div>
        <div class="row">
            <div id="reviews-slider">
                <div class="reviews-slider-item">
                    <div>
                        <div class="number">
                            4.2
                        </div>
                    </div>
                    <div>
                        <div class="title">Имя автора</div>
                        <div class="review">
                            часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
                        </div>
                        <div class="date">
                            27 окт 2018
                        </div>
                    </div>

                </div>
                <div class="reviews-slider-item">
                    <div>
                        <div class="number">
                            4.2
                        </div>
                    </div>
                    <div>
                        <div class="title">Имя автора</div>
                        <div class="review">
                            часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
                        </div>
                        <div class="date">
                            27 окт 2018
                        </div>
                    </div>

                </div>
                <div class="reviews-slider-item">
                    <div>
                        <div class="number">
                            4.2
                        </div>
                    </div>
                    <div>
                        <div class="title">Имя автора</div>
                        <div class="review">
                            часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
                        </div>
                        <div class="date">
                            27 окт 2018
                        </div>
                    </div>

                </div>
                <div class="reviews-slider-item">
                    <div>
                        <div class="number">
                            4.2
                        </div>
                    </div>
                    <div>
                        <div class="title">Имя автора</div>
                        <div class="review">
                            часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
                        </div>
                        <div class="date">
                            27 окт 2018
                        </div>
                    </div>

                </div>
                <div class="reviews-slider-item">
                    <div>
                        <div class="number">
                            4.2
                        </div>
                    </div>
                    <div>
                        <div class="title">Имя автора</div>
                        <div class="review">
                            часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
                        </div>
                        <div class="date">
                            27 окт 2018
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>