<section class="room-numbers">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Популярные номера</h1>
                <div class="header_decorator">
                    <img src="img/header_decorator.png" class="img-responsive" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="room_item">
                    <div class="image">
                        <a href="#">
                            <img src="img/room_image.png" class="img-responsive" />
                            <span>
                            <div class="person">
                                <img src="img/person.png" /> 1
                            </div>
                            <div class="description">
                                краткое описание
                                (видно при наведении на фотографию)
                            </div>
                            <div class="devider">
                                <img src="img/image_hover_devider.png" />
                            </div>
                            <ul class="room-services">
                                <li class="bed">Двухместная кровать</li>
                                <li class="shower">Душ</li>
                                <li class="wifi">Wi-Fi</li>
                                <li class="jacusi">Джакузи</li>
                                <li class="fridge">Холодильник</li>
                                <li class="fireplace">Камин</li>
                            </ul>
                        </span>
                        </a>
                    </div>
                    <div class="title">
                        <a href="#">
                            Название номера
                        </a>
                    </div>
                    <div class="price">
                        <div class="row">
                            <div class="col-lg-8 col-sm-6 col-xs-6">
                                цена за сутки
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-6">
                                8.000 <span>руб</span>
                            </div>
                        </div>
                    </div>
                    <div class="price">
                        <div class="row">
                            <div class="col-lg-8 col-sm-6 col-xs-6">
                                цена за сутки
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-6">
                                8.000 <span>руб</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="room_item">
                    <div class="image">
                        <a href="#">
                            <img src="img/room_image.png" class="img-responsive" />
                            <span>
                            <div class="person">
                                <img src="img/person.png" /> 1
                            </div>
                            <div class="description">
                                краткое описание
                                (видно при наведении на фотографию)
                            </div>
                            <div class="devider">
                                <img src="img/image_hover_devider.png" />
                            </div>
                            <ul class="room-services">
                                <li class="bed">Двухместная кровать</li>
                                <li class="shower">Душ</li>
                                <li class="wifi">Wi-Fi</li>
                                <li class="jacusi">Джакузи</li>
                                <li class="fridge">Холодильник</li>
                                <li class="fireplace">Камин</li>
                            </ul>
                        </span>
                        </a>
                    </div>
                    <div class="title">
                        <a href="#">
                            Название номера
                        </a>
                    </div>
                    <div class="price">
                        <div class="row">
                            <div class="col-lg-8 col-sm-6 col-xs-6">
                                цена за сутки
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-6">
                                8.000 <span>руб</span>
                            </div>
                        </div>
                    </div>
                    <div class="price">
                        <div class="row">
                            <div class="col-lg-8 col-sm-6 col-xs-6">
                                цена за сутки
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-6">
                                8.000 <span>руб</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="room_item">
                    <div class="image">
                        <a href="#">
                            <img src="img/room_image.png" class="img-responsive" />
                            <span>
                            <div class="person">
                                <img src="img/person.png" /> 1
                            </div>
                            <div class="description">
                                это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой"
                            </div>
                            <div class="devider">
                                <img src="img/image_hover_devider.png" />
                            </div>
                            <ul class="room-services">
                                <li class="bed">Двухместная кровать</li>
                                <li class="shower">Душ</li>
                                <li class="wifi">Wi-Fi</li>
                                <li class="jacusi">Джакузи</li>
                                <li class="fridge">Холодильник</li>
                                <li class="fireplace">Камин</li>
                            </ul>
                        </span>

                        </a>
                    </div>
                    <div class="title">
                        <a href="#">
                            Название номера
                        </a>
                    </div>
                    <div class="price">
                        <div class="row">
                            <div class="col-lg-8 col-sm-6 col-xs-6">
                                цена за сутки
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-6">
                                8.000 <span>руб</span>
                            </div>
                        </div>
                    </div>
                    <div class="price">
                        <div class="row">
                            <div class="col-lg-8 col-sm-6 col-xs-6">
                                цена за сутки
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-6">
                                8.000 <span>руб</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="room_item big">
                        <div class="image">
                            <a href="#">
                                <img src="img/rooms-photo/room-big.png" class="img-responsive" />
                                <span>
                            <div class="person">
                                <img src="img/person.png" /> 1
                            </div>
                            <div class="description">
                                краткое описание
                                (видно при наведении на фотографию)
                            </div>
                            <div class="devider">
                                <img src="img/image_hover_devider.png" />
                            </div>
                            <ul class="room-services">
                                <li class="bed">Двухместная кровать</li>
                                <li class="shower">Душ</li>
                                <li class="wifi">Wi-Fi</li>
                                <li class="jacusi">Джакузи</li>
                                <li class="fridge">Холодильник</li>
                                <li class="fireplace">Камин</li>
                            </ul>
                        </span>

                            </a>
                        </div>
                        <div class="title">
                            <a href="#">
                                Название номера
                            </a>
                        </div>
                        <div class="price">
                            <div class="row">
                                <div class="col-lg-6 col-sm-6 col-xs-6">
                                    цена за сутки
                                </div>
                                <div class="col-lg-6 col-sm-6 col-xs-6">
                                    8.000 <span>руб</span>
                                </div>
                            </div>
                        </div>
                        <div class="price">
                            <div class="row">
                                <div class="col-lg-6 col-sm-6 col-xs-6">
                                    цена за сутки
                                </div>
                                <div class="col-lg-6 col-sm-6 col-xs-6">
                                    8.000 <span>руб</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="room_item big">
                        <div class="image">
                            <a href="#">
                                <img src="img/rooms-photo/room-big.png" class="img-responsive" />
                                <span>
                            <div class="person">
                                <img src="img/person.png" /> 1
                            </div>
                            <div class="description">
                                краткое описание
                                (видно при наведении на фотографию)
                            </div>
                            <div class="devider">
                                <img src="img/image_hover_devider.png" />
                            </div>
                            <ul class="room-services">
                                <li class="bed">Двухместная кровать</li>
                                <li class="shower">Душ</li>
                                <li class="wifi">Wi-Fi</li>
                                <li class="jacusi">Джакузи</li>
                                <li class="fridge">Холодильник</li>
                                <li class="fireplace">Камин</li>
                            </ul>
                        </span>

                            </a>
                        </div>
                        <div class="title">
                            <a href="#">
                                Название номера
                            </a>
                        </div>
                        <div class="price">
                            <div class="row">
                                <div class="col-lg-6 col-sm-6 col-xs-6">
                                    цена за сутки
                                </div>
                                <div class="col-lg-6 col-sm-6 col-xs-6">
                                    8.000 <span>руб</span>
                                </div>
                            </div>
                        </div>
                        <div class="price">
                            <div class="row">
                                <div class="col-lg-6 col-sm-6 col-xs-6">
                                    цена за сутки
                                </div>
                                <div class="col-lg-6 col-sm-6 col-xs-6">
                                    8.000 <span>руб</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="all-rooms-btn-wrapper">
                        <a href="#" class="btn all-rooms-btn">Все номера</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>