<div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
    <form method="get" action="" class="left-filter-form">
        <ul class="shop-left-filter">
            <li class="active">
                <a href="#">Cummins</a>
                <ul class="expanded">
                    <li>
                        <label class="checkbox-container">One
                            <input type="checkbox" name="filterItem[]" checked="checked" value="3">
                            <span class="checkmark"></span>
                        </label>
                    </li>
                    <li>
                        <label class="checkbox-container">Two
                            <input type="checkbox" name="filterItem[]" value="2">
                            <span class="checkmark"></span>
                        </label>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Cummins</a>
                <ul>
                    <li>
                        <label class="checkbox-container">One
                            <input type="checkbox" checked="checked" name="filterItem[]" value="1">
                            <span class="checkmark"></span>
                        </label>
                    </li>
                    <li>
                        <label class="checkbox-container">Two
                            <input type="checkbox" name="filterItem[]" value="4">
                            <span class="checkmark"></span>
                        </label>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Cummins</a>
            </li>
            <li>
                <a href="#">Cummins</a>
            </li>
            <li>
                <a href="#">Cummins</a>
            </li>
            <li>
                <a href="#">Cummins</a>
            </li>
            <li>
                <a href="#">Cummins</a>
            </li>
        </ul>
        <button type="submit" class="btn btn-shop-left-filter">Применить</button>
    </form>
</div>