<ul class="social-buttons">
    <li>
        <a href="#" class="vk"></a>
    </li>
    <li>
        <a href="#" class="fb"></a>
    </li>
    <li>
        <a href="#" class="insta"></a>
    </li>
    <li>
        <a href="#" class="tw"></a>
    </li>
</ul>
