<link href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="../../bower_components/slick-carousel/slick/slick.css" rel="stylesheet">
<link href="../../bower_components/slick-carousel/slick/slick-theme.css" rel="stylesheet">
<link href="../../bower_components/animate.css/animate.min.css" rel="stylesheet">
