<nav class="navbar navbar-default navbar-with-button">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-menu-with-button" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="top-menu-with-button">
            <ul class="nav navbar-nav ">
                <li class="active"><a href="rooms.html">номера</a></li>
                <li><a href="services.html">услуги</a></li>
                <li><a href="contacts.html">контакты</a></li>
                <li><a href="about.html">о нас </a></li>
                <li><a href="catalog.html">Каталог</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden-sm hidden-xs">
                    <div class="btn btn-top-menu-with-button">Задать вопрос</div>
                </li>
            </ul>
        </div>
    </div>
</nav>
