
<?php if (isset($this->description['description']) && !empty($this->description['description'])) : ?>
    <?php echo $this->description['description'];?>
    <hr />
<?php endif;?>


<ul class="services-categories">
    <?php foreach ($this->categories as $category) : ?>
        <li>
            <a href="<?php echo $this->url(array('alias' => $category['alias']), '/services');?>">
                <?php echo $category['title'];?>
            </a>
        </li>
    <?php endforeach;?>
</ul>
<ul class="services-items">
    <?php foreach ($this->services as $service) : ?>
        <li>
            <a href="<?php echo $this->url(array('alias' => $service['alias']), '/services/showAlias');?>">
                <?php echo $service['title'];?>
            </a>
        </li>
    <?php endforeach;?>
</ul>

