<div class="container">

    <h2><?php echo $this->translate('portfolioText'); ?></h2>

    <ul class="nav nav-pills sort-source" data-sort-id="portfolio" data-option-key="filter">
        <li data-option-value="*" class="active"><a href="#">Show All</a></li>
        <?php foreach ($this->items as $item) : ?>
            <?php if (count($item['items']) > 0) : ?>
                <li data-option-value=".category-<?php echo $item['id']; ?>"><a
                        href="#"><?php echo $item['title']; ?></a>
                </li>
            <?php endif; ?>
        <?php endforeach; ?>
    </ul>

    <hr/>

    <div class="row">

        <ul class="portfolio-list sort-destination" data-sort-id="portfolio">
            <?php foreach ($this->items as $item) : ?>
                <?php foreach ($item['items'] as $work) : ?>
                    <li class="col-md-4 col-sm-6 col-xs-12 isotope-item category-<?php echo $item['id']; ?>">
                        <div class="portfolio-item img-thumbnail">
                            <a href="<?php echo $this->url(['module' => 'portfolio', 'controller' => 'index', 'action' => 'show', 'alias' => $work['alias']], '/portfolio/show', true);?>" class="thumb-info">
                                <img alt="" class="img-responsive"
                                     src="<?php echo $this->baseUrl() . DIRECTORY_SEPARATOR . $work['images'][0]['image']; ?>">
										<span class="thumb-info-title">
											<span class="thumb-info-inner"><?php echo $work['title']; ?></span>
											<span class="thumb-info-type"><?php echo $item['title']; ?></span>
										</span>
										<span class="thumb-info-action">
											<span title="Universal" class="thumb-info-action-icon"><i
                                                    class="fa fa-link"></i></span>
										</span>
                            </a>
                        </div>
                    </li>
                <?php endforeach; ?>
            <?php endforeach; ?>
        </ul>

    </div>

</div>

