<div class="container contacts">
    <div class="row">
        <div class="col-lg-12">
            <h1><?php echo $this->page['title']; ?></h1>
            <div class="header_decorator">
                <img src="<?php echo $this->baseUrl();?>/img/header_decorator.png" class="img-responsive" />
            </div>
        </div>
    </div>
    <div class="row contacts_content">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
            <img src="<?php echo $this->baseUrl();?>/img/contacts/map.png" class="img-responsive" />
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
            <ul class="contacts_list">
                <li>
                    <span class="phone"></span>Телефон: <?php echo $this->data['phone']; ?>
                </li>
                <li>
                    <span class="email"></span>Почта: <a href="mailto:<?php echo $this->data['email']; ?>"><?php echo $this->data['email']; ?></a>
                </li>
                <li>
                    <span class="work_time"></span>График работы:  ПН-ПТ 9:00 - 18:00
                </li>
                <li>
                    <span class="address"></span>Адрес: <?php echo $this->data['address']; ?>
                </li>
            </ul>
        </div>
    </div>
</div>
