<?php echo $this->action('slider', 'index', 'default');?>

    <section class="room-numbers">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Популярные номера</h1>
                    <div class="header_decorator">
                        <img src="<?php echo $this->baseUrl();?>/img/header_decorator.png" class="img-responsive" />
                    </div>
                </div>

                <?php echo $this->action('slider', 'index', 'hotelrooms', ['categoryId' => 1, 'limit' => 3]);?>
                <?php echo $this->action('slider', 'index', 'hotelrooms', ['categoryId' => 2, 'limit' => 2, 'template' => 'slider-big']);?>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="all-rooms-btn-wrapper">
                            <a href="<?php echo $this->url(['controller' => 'index', 'action' => 'index', 'module'=> 'hotelrooms'], '/apartments', true);?>" class="btn all-rooms-btn">Все номера</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<?php echo $this->action('slider', 'index', 'gallery');?>

    <section class="banner-with-button">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                    <h4>
                        Затрудняетесь <span>с выбором?</span>
                    </h4>
                    <p>
                        Администратор подберет<br />
                        для вас лучший номер
                    </p>
                    <a href="<?php echo $this->url(array('alias' => 'bronirovanie'), '/static/index/index');?>" class="banner-with-button-btn btn">
                        бронирование
                    </a>
                </div>
            </div>
        </div>
    </section>

<?php echo $this->action('slider', 'index', 'reviews');?>

    <section class="static-block-with-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-6 col-md-12 col-sm-12 col-xs-12">
                    <h4>
                        Скидки на услуги сауны<br />
                        <span>1001ночь посетителям Отеля</span>
                    </h4>
                    <a href="#" class="static-block-with-bg-button btn">
                        перейти на сайт
                    </a>
                </div>
            </div>
        </div>
    </section>

<?php echo $this->action('contacts-block', 'index', 'default');?>