<div class="breadcrumbs">
    <ul>
        <li>
            <a href="<?php echo $this->url(array(), '/static/index/home');?>">Главная</a>
        </li>
        <li class="breadcrumb-separator">
            >
        </li>
        <li>
            <?php echo $this->page['title']; ?>
        </li>
    </ul>
</div>
<div class="static-block">
    <h1>
        <?php echo $this->page['title']; ?>
    </h1>
    <div class="static">
        <?php echo $this->page['content']; ?>
        <?php if ('contacts' == $this->page['alias']) { ?>
            <br />
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A48c1bd8598442c827b1251552540957c43408cb085f9a6ac9667f2ec56745a4d&amp;width=100%25&amp;height=370&amp;lang=ru_RU&amp;scroll=true"></script>
            <br />
        <?php } ?>
    </div>
</div>


