<!--<div class="blog-posts">-->
<!--  <div class="clearfix" style="width: 100%;">-->
<!--    <a href="--><?php //echo $this->url(['module'=>'reviews', 'controller' => 'add', 'action' => 'index'], 'default', true);?><!--"-->
<!--      class="btn btn-primary pull-right">--><?php //echo $this->translate('reviewAdd');?><!--</a>-->
<!--  </div>-->

  <?php if ($this->paginator->count() > 0) : ?>
  <?php foreach ($this->paginator as $item) : ?>
  <?php if ($item['answer']): ?>
  <ul class="comments">
    <li>
      <div class="comment">
        <div class="comment-block">
          <span class="comment-by">
            <strong><?php echo $item['title']; ?></strong>
          </span>
	  <p><?php echo $item['answer'];?></p>
          <span
            class="date pull-right"><?php echo date('d.m.Y', strtotime($item['reviewDate'])); ?></span>
        </div>
      </div>
    </li>
  </ul>
  <?php endif; ?>
  <?php endforeach; ?>
  <?php else : ?>
  <div class="alert alert-info"><?php echo $this->translate('reviewsNotFound');?></div>
  <?php endif; ?>
</div>
<?php if ($this->paginator->count() > 0) : ?>
<?php echo $this->paginationControl($this->paginator, 'Sliding', 'pagination.phtml', array('pattern' => '/testimonials')); ?>
<?php endif; ?>

