@header4-color: #f3edde;
@header4-color-span: #52473c;
@banner-with-buttons-text-color: #ffffff;
@button-bg: #f3edde;
@button-text-color: #52473c;



.banner-with-button {
  background: url("../img/banner-with-button/banner_with_button_bg.jpg") no-repeat;
  background-size: cover;
  padding-bottom: 20px;
}

.banner-with-button h4 {
  padding-top: 120px;
  color: @header4-color;
  font-size: 48px;
  text-transform: uppercase;
}
.banner-with-button h4 > span {
  color: @header4-color-span;
}
.banner-with-button p {
  color: @banner-with-buttons-text-color;
  font-size: 36px;
  padding-top: 20px;
}
.banner-with-button .banner-with-button-btn {
  background: @button-bg;
  text-transform: uppercase;
  color: @button-text-color;
  border-radius: 0;
  font-size: 26px;
  padding: 10px 60px;
  margin: 20px 0;
}
@media (max-width: 1366px) {
  .banner-with-button h4 {
    padding-top: 20px;
  }
  .banner-with-button h4 > span {
    color: @header4-color;
  }
}
@media (max-width: 1025px) {
  .banner-with-button {
    text-align: center;
  }
  .banner-with-button h4 {
    padding-top: 20px;
    font-size: 36px;
    text-align: center;
  }
  .banner-with-button h4 > span {
    color: @header4-color;
  }
  .banner-with-button p {
    text-align: center;
  }
}
