@booking-modal-header-color: #52473c;
@booking-modal-form-bg: #ebeaea;
@booking-modal-form-element-border-color: #c2a86a;
@booking-modal-form-element-color: #c2a86a;
@booking-modal-form-element-button-bg: #1b2c1d;
@booking-modal-form-element-button-color: #ffffff;

#bookingModal .modal-dialog > .modal-content {
  background: @booking-modal-form-bg;
  border-radius: 5px;
}

#bookingModal .modal-content > .modal-header {
  border-bottom: 0;
}
#bookingModal .modal-content > .modal-header > h4 {
  color: @booking-modal-header-color;
  text-align: center;
}

#bookingModal .modal-body > form > div {
  text-align: center;
}
#bookingModal .modal-body > form > div > input {
  border: none;
  border-bottom: 1px solid @booking-modal-form-element-border-color;
  width: 90%;
  background: @booking-modal-form-bg;
  padding: 5px;
  margin: 15px auto;
  color: @booking-modal-form-element-color;
}
#bookingModal .modal-body > form > div > button {
  background: @booking-modal-form-element-button-bg;
  border: 1px solid @booking-modal-form-element-border-color;
  color: @booking-modal-form-element-button-color;
  border-radius: 0;
  text-transform: uppercase;
  margin: 10px auto;
  padding: 5px 60px;
  font-size: 15px;
}
#bookingModal .modal-body > form > div > button:hover, #bookingModal .modal-content form > div > button:focus, #bookingModal .modal-content > form > div > button:active {
  color: @booking-modal-form-element-button-color;
}

.booking-form-error {
  color: #ff0000;
  text-align: center;
}