@rooms-header1-color: #746248;
@room-list-title-color: #746248;
@room-list-description-color: #746248;
@room-list-btn-room-bg: #e5d4b3;
@room-list-btn-room-color: #000000;
@room-list-btn-booking-bg: #ffffff;
@room-list-btn-booking-color: #000000;
@room-list-btn-booking-border-color:#e5d4b3;
@room-list-active-marker-bg: #ffffff;
@room-list-active-marker-border-color:#e5d4b3;

.rooms-list h1 {
  text-align: center;
  color: @contacts-header1-color;
}
.rooms-list .header_decorator {
  margin-bottom: 40px;
}
.rooms-list-room-types-list {
  list-style: none;
  padding-left: 0;
  font-size: 0;
  margin-bottom: 50px;
}
.rooms-list-room-types-list:after {
  content: "";
  position: absolute;
  background: url("../img/rooms/navigation_bg.png") no-repeat center bottom;
  background-size: contain;
  width: 100%;
  height: 20px;
  left: 0;
  top: 35px;
}
.rooms-list-room-types-list > li {
  display: inline-block;
  width: 33%;
  text-align: center;
  font-style: italic;
  font-size: 18px;
  font-weight: 300;
}
.rooms-list-room-types-list > li > a {
  color: @room-list-title-color;
}
.room-list-category-indicator {
  width: 20px;
  height: 20px;
  background: @room-list-active-marker-bg;
  border: 1px solid @room-list-active-marker-border-color;
  border-radius: 100%;
  top: -44px;
  position: relative;
  left: 0;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}

.room-list-item {
  margin-bottom: 30px;
}

.rooms-list .title > a {
  display: inline-block;
  color: @room-list-title-color;
  font-size: 18px;
  padding: 10px 0;
}
.rooms-list .description {
  color: @room-list-description-color;
  font-size: 14px;
  height: 60px;
  overflow: hidden;
  margin-bottom: 5px;
}
.rooms-list .price {
  margin-bottom: 5px;
  color: @room-list-description-color;
}
.rooms-list .price > span {
  font-weight: bold;
}
.rooms-list .price > span > span {
  font-size: 10px;
}
.rooms-list .btn-room-page {
  background: @room-list-btn-room-bg;
  color: @room-list-btn-room-color;
  border-radius: 0;
}

.rooms-list .btn-room-booking {
  background: @room-list-btn-booking-bg;
  color: @room-list-btn-booking-color;
  border: 1px solid @room-list-btn-booking-border-color;
  border-radius: 0;
}

.room-list-item .image {
  max-height: 170px;
  max-width: 431px;
  overflow: hidden;
  position: relative;
}
.room-list-item .image:hover > a > span {
  background: rgba(0,0,0, 0.7);
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  max-height: 175px;
  max-width: 431px;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}
.room-list-item .image > a > span > .person {
  margin-top: 20px;
  color: @image-hover-text-color;
  text-align: right;
  font-size: 18px;
  padding-right: 20px;
  line-height: 25px;
}
.room-list-item .room-services > li {
  font-size: 10px;
}
.rooms-list-container {
  min-height: 300px;
}
@media (max-width: 420px) {
  .room-list-category-indicator {
    top: -33px;
  }
}
@media (max-width: 320px) {
  .room-list-category-indicator {
    top: -35px;
  }
}