@header1-bg: #c2a86a;
@external-booking-bg: #f3edde;

.external-booking {
  background: @external-booking-bg;
  padding-bottom: 20px;
}
.external-booking h1 {
  color: @header1-bg;
  text-align: center;
}
.header_decorator {
  text-align: center;
  padding-bottom: 10px;
}
.header_decorator > img {
  margin: 0 auto;
}

