@full-width-horizontal-slider-form-bg: #3d4073;
@full-width-horizontal-slider-form-input-color: #3d4073;
@full-width-horizontal-slider-form-button-bg: #f47c00;
@full-width-horizontal-slider-form-button-color: #ffffff;

#full-width-horizontal-slider {
  margin-bottom: 0;
}
.slider-horizontal-form {
  background: @full-width-horizontal-slider-form-bg;
  margin-bottom: 20px;
}
.slider-horizontal-form > form {
  text-align: center;
}
.slider-horizontal-form > form > div {
  display: inline-block;
  margin: 15px 5px;
}
.slider-horizontal-form > form > div > input {
  border-radius: 5px;
  background: #ffffff;
  border: 0;
  padding: 10px 5px;
  color: @full-width-horizontal-slider-form-input-color;
  font-size: 14px;
}
.slider-horizontal-form > form > div > button {
  padding: 9px 40px;
  color: @full-width-horizontal-slider-form-button-color;
  background: @full-width-horizontal-slider-form-button-bg;
  text-transform: uppercase;
  position: relative;
  top: -2px;
}