@full-with-top-menu-bg: #ffffff;
@full-with-top-menu-color: #000000;
@full-with-top-menu-hover-color: #000000;

.navbar-full-width {
  background: @full-with-top-menu-bg;
  border: 0;
  min-height: 49px;
  overflow: hidden;
  margin-bottom: 0;
}
.navbar-nav > li {
  text-transform: uppercase;
}
.navbar-full-width .navbar-nav > li > a {
  color: @full-with-top-menu-color;
}
.navbar-full-width  .navbar-nav > li.active > a {
  color: @full-with-top-menu-hover-color;
  font-weight: bold;
  text-decoration: underline;
}
.navbar-full-width  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background: none;
  color: @full-with-top-menu-hover-color;
}
.navbar-full-width  .navbar-nav > li > a:hover {
  color: @full-with-top-menu-hover-color;
  text-decoration: underline;
}