@header1-bg: #c2a86a;
@gallery-slider-bg: #ffffff;

.gallery-slider {
  background: @gallery-slider-bg;
  padding-bottom: 20px;
}
.gallery-slider h1 {
  color: @header1-bg;
  text-align: center;
}

#gallery-slider {
  height: 348px;
  overflow: hidden;
}
.gallery-slider-item {
  text-align: center;
  margin: 0 auto;
}
.gallery-slider-item > img {
  height: 70%;
  width: 70%;
  margin: 0 auto;
  padding-top: 10%;
  filter: opacity(50%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.gallery-slider-item.slick-center > img {
  padding-top: 0;
  height: 100%;
  width: 100%;
  max-width: 500px;
  filter: none;
}

#gallery-slider > .slick-prev {
  background: url("../img/gallery-slider/left.png") no-repeat;
  left: 25px;
  height: 49px;
  width: 49px;
  opacity: .5;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
#gallery-slider > .slick-next {
  background: url("../img/gallery-slider/right.png") no-repeat;
  right: 25px;
  height: 49px;
  width: 49px;
  opacity: .5;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
#gallery-slider > .slick-prev:focus, #gallery-slider > .slick-prev:hover {
  background: url("../img/gallery-slider/left.png") no-repeat;
  opacity: 1;
}
#gallery-slider > .slick-next:focus, #gallery-slider > .slick-next:hover {
  background: url("../img/gallery-slider/right.png") no-repeat;
  opacity: 1;
}
@media (max-width: 1024px) {
  #gallery-slider {
    height: 200px;
  }
}
@media (max-width: 480px) {
  #gallery-slider {
    height: 150px;
  }
}