@header-bg: #393333;
@header-height: 50px;
@header-color: #c2a86a;
@header-font-size: 18px;

.header {
  background: @header-bg;
  height: @header-height;
  color: @header-color;
  line-height: @header-height;
  font-size: @header-font-size;
  overflow: hidden;
}

.header_phone {
  background: url("../img/phone.png") no-repeat;
  padding-left: 30px;
  background-size: contain;

}
.header_phone > a,
.header_email > a {
  color: @header-color;
  text-decoration: none;
}
.header_map_marker {
  background: url("../img/map_marker.png") no-repeat;
  background-size: contain;
  padding-left: 20px;
}
.header_email {
  background: url("../img/email.png") no-repeat;
  background-size: contain;
  padding-left: 30px;
}
.header_email > a:hover {
  text-decoration: underline;
}
ul.social-buttons > li {
  padding-top: 10px;
}