@header-line-with-search-address-color: #000000;
@header-line-with-search-address-size: 16px;
@header-line-with-search-search-bg: #ffffff;
@header-line-with-search-search-border: #000000;
@header-line-with-search-search-color: #000000;

.header-line-with-search {
  height: 74px;
  overflow: hidden;
}
.header-line-with-search .logo, .header-line-with-search .icon {
  height: 74px;
}
.header-line-with-search .logo > img {
  max-height: 74px;
}
.header-line-with-search .icon {
  margin-top: 20px;
}

.header-line-with-search .address-block > div {
  display: inline-block;
  vertical-align: top;
}
.header-line-with-search .address{
  color: @header-line-with-search-address-color;
  font-size: 16px;
  margin-left: 10px;
}
.header-line-with-search .address a {
  color: @header-line-with-search-address-color;
  text-decoration: underline;
}
.header-line-with-search .address > div:first-child {
  padding-top: 10px;
}

.header-line-with-search .search,
.top-menu-search-form {
  background: @header-line-with-search-search-bg;
  border: 1px solid @header-line-with-search-search-border;
  border-radius: 5px;
  padding: 5px 5px 5px 30px;
  margin-top: 14px;
  background: url("../img/search.png") no-repeat 10px 5px;
}
.header-line-with-search .search input,
.top-menu-search-form input {
  background: @header-line-with-search-search-bg;
  border: none;
  border-radius: 5px;
  width: 100%;
}
@media (max-width: 960px) {
  .header-line-with-search .address {
    font-size: 13px;
  }
}
@media (max-width: 768px) {
  .header-line-with-search .logo > img {
    max-height: 50px;
  }
  .header-line-with-search {
    height: 50px;
  }
  .header-line-with-search .address {
    font-size: 12px;
  }
  .top-menu-search-form {
    margin-top: 10px;
    margin-left: 5px;
    width: 70%;
  }
}
@media (max-width: 420px) {
  .header-line-with-search .address {
    font-size: 12px;
  }
}
@media (max-width: 320px) {
  .header-line-with-search .address {
    font-size: 10px;
    margin-left: 0px;
    word-wrap: break-word;
  }
  .header-line-with-search .address > div:first-child {
    padding-top: 16px;
  }
}