@index-contacts-header1-bg: #c2a86a;
@index-contacts-button-color: #ffffff;
@index-contacts-button-bg: #c0b296;
@index-contacts-list-circle-bg: #faf2bb;
@index-contacts-list-text-color: #998c78;


.index-contacts-content {
  background: url("../img/index-contacts/transfer_bg.jpg") no-repeat;
  background-size: cover;
}

.index-contacts-content h1 {
  color: @index-contacts-header1-bg;
  text-align: center;
}

.index-contacts-content p {
  font-size: 26px;
}

.index-contacts-content-btn {
  background: @index-contacts-button-bg;
  color: @index-contacts-button-color;
  border-radius: 0;
  font-size: 16px;
  margin: 20px 0;
  text-transform: uppercase;
  padding: 10px 40px;
}
.index-contacts-content-btn:hover {
  color: @index-contacts-button-color;
}

.index-contacts-content-list {
  padding-top: 20px;
  list-style: none;
  padding-left: 0;
  color: @index-contacts-list-text-color;
  padding-bottom: 40px;
}
.index-contacts-content-list > li {
  display: block;
  line-height: 27px;
  font-size: 22px;
}
.index-contacts-content-list > li > a {
  color: @index-contacts-list-text-color;
  text-decoration: none;
}
.index-contacts-content-list > li > a:hover {
  text-decoration: underline;
}
.index-contacts-content-list > li > .circle {
  display: inline-block;
  height: 27px;
  width: 27px;
  border-radius: 100%;
  background: @index-contacts-list-circle-bg;
  position: relative;
  top: 7px;
}
.index-contacts-content-list > li > .circle > span {
  display: block;
  height: 100%;
  width: 100%;
}
.index-contacts-content-list > li > .circle > .address {
  background: url("../img/index-contacts/map.png") no-repeat center;
}
.index-contacts-content-list > li > .circle > .email {
  background: url("../img/index-contacts/email.png") no-repeat center;
}
.index-contacts-content-list > li > .circle > .phone {
  background: url("../img/index-contacts/phone.png") no-repeat center;
}