@our-advantages-h1-color: #000000;
@our-advantages-title-color: #000000;

.our-advantages h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  text-shadow: 2px 0px 5px rgba(0,0,0,.5);
}

.our-advantages .item {
  margin-bottom: 20px;
}

.our-advantages .item > .img {
  background: red;
  border-radius: 100%;
  height: 124px;
  width: 124px;
  margin: 10px auto;
  text-align: center;
}
.our-advantages .item > .img > img {
  margin: 0 auto;
  position: relative;
  top: 30px;
}

.our-advantages .item > .title {
  color: @our-advantages-title-color;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
}