@our-service-header-bg: #393333;
@our-service-header-color: #c2a86a;
@our-service-item-header-color: #f3edde;
@our-service-item-description-color: #ffffff;

.our-service-header {
  background: @our-service-header-bg;
}

.our-service-header h1 {
  color: @our-service-header-color;
  text-align: center;
  font-size: 35px;
}

.our-service-items {
  background: url("../img/our-service-bg.png") no-repeat;
  background-size: cover;
}
.our-service-item {
  margin: 20px auto;
  text-align: center;
}
.our-service-item > .icon {
  height: 70px;
}
.our-service-item > .icon > img {
  margin: 0 auto;
}
.our-service-item > .title {
  color: @our-service-item-header-color;
  font-size: 24px;
  text-transform: uppercase;
  padding: 5px 0;
}
.our-service-item > .description {
  color: @our-service-item-description-color;
  font-size: 12px;
  max-height: 50px;
  margin-top: 10px;
  overflow: hidden;
}