@reviews-slider-header-color: #c2a86a;
@reviews-slider-item-number-color: #f3edde;
@reviews-slider-item-review-bg: #f3edde;
@reviews-slider-item-title-color: #000000;
@reviews-slider-item-review-color: #000000;
@reviews-slider-item-date-color: #000000;

.reviews-slider h1 {
  color: @reviews-slider-header-color;
  text-align: center;
  font-size: 35px;
}

.reviews-slider-item {
  margin-right: 20px;
  font-size: 0;
  margin-bottom: 20px;
}
.reviews-slider-item > div {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  height: 163px;
  overflow: hidden;
}
.reviews-slider-item > div > div {
  font-size: 14px;
  padding: 0 5px;
}
.reviews-slider-item > div > .number {
  background: linear-gradient(to bottom,  #a38964 0%,#a38964 50%,#bba27e 50%,#bba27e 100%);
  height: 163px;
  width: 175px;
  line-height: 163px;
  text-align: center;
  font-size: 72px;
  font-weight: bold;
  color: @reviews-slider-item-number-color;
}
.reviews-slider-item > div {
  background: @reviews-slider-item-review-bg;
}
.reviews-slider-item > div > .title {
  color: @reviews-slider-item-title-color;
  font-weight: bold;
  padding: 5px 5px;
}
.reviews-slider-item > div > .review {
  color: @reviews-slider-item-review-color;
  height: 106px;
  overflow: hidden;
}
.reviews-slider-item > div > .date {
  font-style: italic;
  text-align: right;
  color: @reviews-slider-item-date-color;
}

@media (max-width: 480px) {
  .reviews-slider-item {
    margin-right: 0;
  }
}