@header1-bg: #c2a86a;
@room-number-title-color:#c2a86a;
@room-numbers-text-color: #000000;
@image-hover-text-color: #ffffff;

.room-numbers h1 {
  color: @header1-bg;
  text-align: center;
  font-size: 35px;

}
.header_decorator {
  text-align: center;
  padding-bottom: 10px;
}
.header_decorator > img {
  margin: 0 auto;
}

.room_item {
  margin-bottom: 20px;
}
.room_item > .image {
  max-height: 239px;
  max-width: 431px;
  overflow: hidden;
  position: relative;
}
.room_item.big > .image {
  max-height: 377px;
  max-width: 656px;
}
.room_item > .image > a > img {
  margin: 0 auto;
}

.room_item > .image:hover > a > span {
  background: rgba(0,0,0, 0.7);
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  max-height: 239px;
  max-width: 431px;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}
.room_item.big > .image:hover > a > span {
  max-height: 377px;
  max-width: 656px;
}
.room_item > .image > a > span > .person {
  margin-top: 20px;
  color: @image-hover-text-color;
  text-align: right;
  font-size: 18px;
  padding-right: 20px;
  line-height: 25px;
}
.room_item > .image > a > span > .description {
  color: @image-hover-text-color;
  padding: 3% 5px;
  text-align: center;
  font-size: 18px;
  height: 65px;
  overflow: hidden;
}
.room_item.big > .image > a > span > .description {
  height: 180px;
}
.room_item > .image > a > span > .devider {
  text-align: center;
  margin-bottom: 10px;
}
.room_item > .title > a {
  color: @room-number-title-color;
  font-size: 24px;
  padding: 5px 0;
  display: inline-block;
}
.room_item > .price > div > div {
  font-size: 24px;
}
.room_item > .price > div > div:first-child {
  text-transform: uppercase;
  color: @room-numbers-text-color;
  padding-bottom: 5px;
}
.room_item > .price > div > div:last-child {
  text-align: right;
}
.room_item > .price > div > div:last-child > span {
  text-transform: capitalize;
  font-size: 18px;
}
.room-services {
  list-style: none;
  padding: 0;
  font-size: 0;
  width: 90%;
  margin: 0 auto;
}
.room-services > li {
  display: inline-block;
  width: 50%;
  font-size: 12px;
  padding-bottom: 10px;
  color: @image-hover-text-color;
  padding-left: 25px;
}
.big > .image > a > span > .room-services > li {
  width: 33%;
}
.room-services > li.bed {
  background: url("../img/room-service-icons/bed.png") no-repeat;
}
.room-services > li.shower {
  background: url("../img/room-service-icons/shower.png") no-repeat;
}
.room-services > li.jacusi {
  background: url("../img/room-service-icons/jacusi.png") no-repeat;
}
.room-services > li.fireplace {
  background: url("../img/room-service-icons/fireplace.png") no-repeat;
}
.room-services > li.wifi {
  background: url("../img/room-service-icons/wi-fi.png") no-repeat;
}
.room-services > li.fridge {
  background: url("../img/room-service-icons/fridge.png") no-repeat;
}

.all-rooms-btn-wrapper {
  text-align: center;
}
.all-rooms-btn {
  text-transform: uppercase;
  color: @room-numbers-text-color;
  border: 1px solid #000000;
  border-radius: 0;
  margin: 20px 0;
  padding: 10px 50px;
  font-size: 16px;
}
@media (max-width: 1024px) {
  .room_item > .image {
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .room_item {
    margin: 20px 20px;
  }
  .room_item > .image {
    margin: 0 auto;
  }
}
@media (max-width: 420px) {
  .room_item > .image:hover > a > span, .room_item > .image > a > span {
    display: none;
    position: relative;
  }
  .room_item > .price > div > div {
    font-size: 18px;
  }
  .room_item.big {
    margin: 0 20px;
  }
}
@media (max-width: 320px) {
  .room_item > .price > div > div {
    font-size: 16px;
  }
}