@room-page-header1-color: #746248;
@room-page-title-color: #746248;
@room-page-description-color:#746248;
@room-page-price-color: #746248;
@room-page-header4-color:#746248;

.room-page h1 {
  text-align: center;
  color: @room-page-header1-color;
}
.room-page h4 {
  text-align: center;
  color: @room-page-header4-color;
  font-size: 21px;
}

.room-page .header_decorator {
  padding: 20px 0;
}

.room-page-item {
  margin-bottom: 20px;
}
.room-page-item > .title {
  font-size: 24px;
  text-transform: uppercase;
  color: @room-page-title-color;
  padding-bottom: 40px;
}
.room-page-item > .description {
  color: @room-page-description-color;
  height: 100px;
  overflow: hidden;
  margin-bottom: 20px;
}
.room-page-item > .price {
  color: @room-page-price-color;
}
.room-page-item > .price > label {
  font-weight: normal;
  display: inline-block;
  min-width: 300px;
  font-size: 16px;
}
.room-page-item > .price > span {
  font-weight: bold;
  font-size: 20px;
}
.room-page-item > .price > span > span {
  font-size: 16px;
  text-transform: capitalize;
}
.room-page-services > div > div > span {
  display: inline-block;
  height: 30px;
  padding-left: 40px;
  color: rgba(116, 98, 72, 255);
}
.room-page-services > div > div > span.bed {
  background: url("../img/rooms/bed.png") no-repeat;
}
.room-page-services > div > div > span.wifi {
  background: url("../img/rooms/wifi.png") no-repeat;
}
.room-page-services > div > div > span.fridge {
  background: url("../img/rooms/fridge.png") no-repeat;
}
.room-page-services > div > div > span.jacusi {
  background: url("../img/rooms/jacusi.png") no-repeat;
}
.room-page-services > div > div > span.sattv {
  background: url("../img/rooms/sattv.png") no-repeat;
}
.room-page-services > div > div > span.electrofireplace {
  background: url("../img/rooms/electrofireplace.png") no-repeat;
}
.room-page-services > div > div > span.sauna {
  background: url("../img/rooms/sauna.png") no-repeat;
}
.room-page-services > div > div > span.shower {
  background: url("../img/rooms/shower.png") no-repeat;
}
.room-page-services > div > div > span.fireplace {
  background: url("../img/rooms/fireplace.png") no-repeat;
}
.room-page-services > div > div > span.conditioner {
  background: url("../img/rooms/conditioner.png") no-repeat;
}
.room-page-services > div > div > span.cupboard {
  background: url("../img/rooms/cupboard.png") no-repeat;
}
.room-page-services > div > div > span.mini-bar {
  background: url("../img/rooms/bar.png") no-repeat;
}

.room-page-custom-services {
  color: rgba(116, 98, 72, 255);
}

.room-page-booking-btn {
  display: block;
  background: #ffffff;
  color: #000000;
  text-transform: uppercase;
  border: 1px solid #e5d4b3;
  border-radius: 0;
  margin-bottom: 20px;
}
.room-page-all-numbers-btn {
  display: block;
  background: #e5d4b3;
  color: #000000;
  text-transform: uppercase;
  border-radius: 0;
  margin-bottom: 40px;
}