@breadcrumb-active-color: rgba(154, 154, 154, 255);
@breadcrumb-color: #c00909;
@breadcrumb-bg: transparent;

.breadcrumbs .breadcrumb {
  background: @breadcrumb-bg;
  margin-left: 0;
  padding-left: 0;
}

.breadcrumbs .breadcrumb a {
  color: @breadcrumb-color;
}
.breadcrumbs  .breadcrumb li {
  color: @breadcrumb-active-color;
  font-size: 14px;
}
.breadcrumbs  .breadcrumb > li + li::before {
  content: ">" !important;
}