@top-menu-bg: #ffffff;
@top-menu-color: #c2a86a;

.navbar {
  background: @top-menu-bg;
  border: 0;
  min-height: 55px;
  overflow: hidden;
  margin-bottom: 0;
}
.navbar-brand {
  padding: 7px 0;
}
.navbar-brand > img {
  max-height: 40px;
  margin-right: 10px;
}
.navbar-nav > li {
  text-transform: uppercase;
}
.navbar-nav > li > a {
  color: @top-menu-color;
}
.navbar-nav > li.active > a {
  font-weight: bold;
  text-decoration: underline;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background: none;
}
.navbar-nav > li > a:hover {
  color: #000000;
}