@top-menu-with-button-bg: #292929;
@top-menu-with-button-color: #ffffff;
@top-menu-with-button-color-active: #ffffff;
@top-menu-with-button-color-hover: #ffffff;
@top-menu-with-button-btn-bg: #c00909;
@top-menu-with-button-btn-color: #ffffff;

.navbar-with-button {
  background: @top-menu-with-button-bg;
  border: 0;
  min-height: 55px;
  overflow: hidden;
  margin-bottom: 0;
}
.navbar-with-button .navbar-nav > li {
  text-transform: uppercase;
}
.navbar-with-button .navbar-nav > li > a {
  color: @top-menu-with-button-color;
}
.navbar-with-button .navbar-nav > li.active > a {
  font-weight: bold;
  text-decoration: underline;
  color: @top-menu-with-button-color-active;
}
.navbar-with-button .navbar-default .navbar-nav > .active > a,
.navbar-with-button .navbar-default .navbar-nav > .active > a:focus,
.navbar-with-button .navbar-default .navbar-nav > .active > a:hover {
  background: none;
  color: @top-menu-with-button-color-hover !important;
}
.navbar-with-button .navbar-nav > li > a:hover {
  color: @top-menu-with-button-color-hover;
  text-decoration: underline;
}
.navbar-with-button .btn-top-menu-with-button {
  background: @top-menu-with-button-btn-bg;
  color: @top-menu-with-button-btn-color;
  text-transform: uppercase;
  margin-top: 10px;
  padding: 5px 40px;
}