<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 hidden-sm hidden-xs col-sm-3">
                <a href="index.html" class="footer_logo">
                    <img src="img/logo.png" class="img-responsive" alt="" />
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 col-xs-6 col-sm-2">
                <h4>Контакты</h4>
                <ul class="footer_icon_list">
                    <li>
                        <span class="address"></span><?php echo $this->data['address'];?>
                    </li>
                    <li>
                        <span class="phone"></span>
                        <span class="hidden-sm hidden-xs"> <?php echo $this->data['phone'];?></span>
                        <a href="tel:<?php echo $this->data['phone'];?>" class="hidden-lg hidden-md"><?php echo $this->data['phone'];?></a>
                    </li>
                    <li>
                        <span class="email"></span>
                        <a href="mailto:<?php echo $this->data['email'];?>"><?php echo $this->data['email'];?></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-xs-6 col-sm-4">
                <h4>Меню</h4>
                <ul class="footer_menu_list">
                    <li>
                        <a href="#">Номера</a>
                    </li>
                    <li>
                        <a href="<?php echo $this->url(array('alias' => 'about'), '/static/index/index');?>">О нас</a>
                    </li>
                    <li>
                        <a href="#">Бронирование</a>
                    </li>
                    <li>
                        <a href="#">Услуги</a>
                    </li>
                    <li>
                        <a href="<?php echo $this->url(array('alias' => 'contacts'), '/static/index/index');?>">Контакты</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-xs-12 col-sm-3 col-xs-12">
                <h4>Соц. сети</h4>
<!--                --><?php //echo $this->action('social-icons', 'index', 'default');?>
            </div>
        </div>
    </div>
</section>
<section class="developed-by">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <span class="heart">&hearts;</span> <a href="<?php echo $this->url(['action' => 'login', 'controller' => 'index', 'module' => 'user'], 'default', true);?>">Сайт</a> разработан веб-студией <a href="http://itrocks.ru" target="_blank">ItRocks</a> <?php echo date('Y');?>г.
            </div>
        </div>
    </div>
</section>
<?php if(($this->counters['yandexMetrika'] != '') && ($this->counters['googleAnalytics'] != '')) : ?>
    <div class="footer-analytics">
        <?php if($this->counters['yandexMetrika'] != '') : ?>
            <span class="counter">
                        <?php echo $this->counters['yandexMetrika']; ?>
                    </span>
        <?php endif; ?>
        <?php if($this->counters['googleAnalytics'] != '') : ?>
            <span class="counter">
                        <?php echo $this->counters['googleAnalytics']; ?>
                    </span>
        <?php endif; ?>
    </div>
<?php endif; ?>
